html {
    font-family: Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.center-div {
    width: 85%;
    max-width: 600px;
    padding: 20px;
    text-align: left;
}

.title {
    font-size: x-large;
    margin-top: 5%;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

.title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background: repeating-linear-gradient(
        90deg,
        dodgerblue,
        dodgerblue 25%,
        red 25%,
        red 50%,
        forestgreen 50%,
        forestgreen 75%,
        gold 75%,
        gold 100%
    );
    border-radius: 3px;
}

h4 {
    font-weight: medium;
}

.subtitle {
    position: relative;
    padding-bottom: 3px;
    display: inline-block;
}

.subtitle::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    border-radius: 2px;
}

.subtitle-blue::after {
    background: dodgerblue;
}

.subtitle-red::after {
    background: red;
}

.subtitle-green::after {
    background: forestgreen;
}

.subtitle-gold::after {
    background: gold;
}

.subsubtitle {
    margin-top: 0px;
    margin-bottom: 0px;
}

.datesubtitle {
    margin-top: 3px;
    font-style: italic;
}

.subcontent {
    margin-left: 0.8em;
}

.internship-area {
    padding: 1em 2em;
    border-width: 5px;
    border-style: solid;
    border-image: repeating-linear-gradient(
        135deg,
        dodgerblue,
        dodgerblue 25%,
        red 25%,
        red 50%,
        forestgreen 50%,
        forestgreen 75%,
        gold 75%,
        gold 100%
    );
    border-image-slice: 1;
}

.scrollable-container {
    display: flex;
    gap: 16px;
    padding: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.project-card {
    flex: 0 0 auto;
    width: 280px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 3px 5px;
}

.project-card:nth-child(1) {
    box-shadow: 0 3px 5px dodgerblue;
}

.project-card:nth-child(2) {
    box-shadow: 0 3px 5px red;
}

.project-card:nth-child(3) {
    box-shadow: 0 3px 5px forestgreen;
}

.project-card:nth-child(4) {
    box-shadow: 0 3px 5px gold;
}

.project-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}

.project-card .project-info {
    padding: 10px;
}

.project-card .project-title {
    font-size: 18px;
    margin-bottom: 6px;
    text-align: center;
    margin-top: 0em;
}

.project-card .project-description {
    font-size: 14px;
    color: #555;
}
