body {
    display: flex;
    justify-content: center;
}

.center-div {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    text-align: left;
}

.title {
    font-size: x-large;
    margin-top: 5%;
}
