html {
    font-family: Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.center-div {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    text-align: left;
}

.title {
    font-size: x-large;
    margin-top: 5%;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    font-weight: normal;
}

.title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background: repeating-linear-gradient(90deg,
            DodgerBlue,
            DodgerBlue 25%,
            Red 25%,
            Red 50%,
            ForestGreen 50%,
            ForestGreen 75%,
            gold 75%,
            gold 100%);
    border-radius: 3px;
}

h4 {
    font-weight: medium;
}

.subtitle {
    position: relative;
    padding-bottom: 3px;
    display: inline-block;
}

.subtitle::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    border-radius: 2px;
    background: dodgerblue;
}

.subsubtitle {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sameline {
    margin-top: 3px;
    font-style: italic;
}